<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <meta name="description" content="url Shortener Website made by Prabor Mukherjee">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/main.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">

    <meta property="og:type" content= "website" />
    <meta property="og:url" content="https://pro-shortener.herokuapp.com/"/>
    <meta property="og:site_name" content="Url Shortener" />
    <meta property="og:image" itemprop="image primaryImageOfPage"
      content="/apple-touch-icon.png" />
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:domain" content="https://pro-shortener.herokuapp.com/"/>
    <meta name="twitter:title" property="og:title" itemprop="name" content="https://pro-shortener.herokuapp.com/" />
    <meta name="twitter:description" property="og:description" itemprop="description" 
      content="A website for making url shortening made by Prabor Mukherjee" />
  
    <meta name="twitter:app:country" content="US" />
    <meta name="twitter:app:name:iphone" content="Website | Url Shortener" />
    <meta name="twitter:app:id:iphone" content="Website | Url Shortener" />
    <meta name="twitter:app:url:iphone" content="https://pro-shortener.herokuapp.com/" />
    <meta name="twitter:app:name:ipad" content="Prabor Mukherjee iOS" />
    <meta name="twitter:app:id:ipad" content="Website | Url Shortener" />
    <meta name="twitter:app:url:ipad" content="https://pro-shortener.herokuapp.com/" />
    <meta name="twitter:app:name:googleplay" content="Website | Url Shortener">
    <meta name="twitter:app:url:googleplay" content="https://pro-shortener.herokuapp.com/">
    <meta name="twitter:app:id:googleplay" content="codes.prabormukherjee">

    <link rel="image_src" href="/apple-touch-icon.png">
    <link rel="canonical" href="https://pro-shortener.herokuapp.com/" />

    <link rel="alternate" type="application/atom+xml" title="This is an url shortening website made by Prabor Mukherjee. a CSE student and developer" href="https://pro-shortener.herokuapp.com/">

    <link rel="preconnect" href="https://fonts.gstatic.com">