<%- include('includes/head.ejs') %>
</head>

<body>
    <div class="centered">
        <h1 class="">Aaah!!</h1>
        <p class="user-message--error"> <%= msg %> </p>
        <a href="/" class="btn"> Try Again </a>
    </div>

<%- include('includes/end.ejs') %>